<h1 class="text-center"> >>>鍵盤救災我最行<<< </h1>




<p><%= link_to"新增文章", new_emergency_path%></p>
<%= link_to '原排列', emergencies_path %>
<table class="table table-striped">
	<tr>
		<th><h4>標題</h4></th>
		<th><h4>作者</h4></th>
		<th><h4>張貼時間</h4></th>
		<th><h4>編輯</h4></th>
		<th><h4>刪除</h4></th>
	</tr>
	<% @emergencies.each do |e| %>
	<tr>
		<td><h4><%= link_to e.title, emergency_path(e) %></h4></td>
		<td><h4><%= e.user.short_name %></h4></td>
		<td><h4><%= e.created_at.strftime("%b.%d %Y %H:%M") %></h4></td>
		<td>
			<h4>
				<% if e.user == current_user %>
					<%= link_to "編輯", edit_emergency_path(e) %>
				<% end %>
			</h4>
		</td>
		<td>
			<h4>
				<% if e.user == current_user %>
					<%= link_to "刪除", emergency_path(e), :method => :delete%>
				<% end %>
			</h4>
		</td>
	<% end %>
	</tr>
</table>
<%= paginate @emergencies%>






<h3 class="text-center">快速新增</h3>

<%= form_for @emergency, :url => emergencies_path do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<%= f.submit "送出" , :class =>"btn btn-primary"%>
<% end %>