<div class="container">
	<h1>
		<%= @emergency.title %>
	</h1>
	<%= @emergency.category.name  %>

	<table>
		<tr>
			<th><%= simple_format @emergency.content %></th>
		</tr>
		<tr>
			<td>評論人</td>
			<td>內容</td>
			<p>回應數：<%=@replies.count%></p>
		</tr>
		<% @replies.each do |r| %>
		<tr>
			<td><%= r.user.short_name %></td>
			<td><%= r.comment %></td>
		<% end %>
		</tr>
	</table>
	<%= link_to '發表評論', new_emergency_response_path(@emergency) %>
	<br>
	<%= link_to '回首頁' , emergencies_path %>
</div>